<style> 
#div1 { 
 width: 450px; 
 border-top: #000 1px solid; 
 border-left: #000 1px solid; 
} 
#div1 ul { 
 width: 450px; 
 margin: 0px; 
} 
#div1 li { 
 float: left; 
 width: 150px; 
 height: 50px; 
 list-style-type: none; 
 border-right:#000 1px solid; 
 border-bottom: #000 1px solid; 
 text-align: center; 
 line-height: 50px; 
} 
</style> 
